<section class="hero">
    <img src="/src/assets/myprofilepic.jpg" alt="My profile picture." />
    <h2>Hello, I am Sangsongthong Chantaranothai!</h2>
    <strong>Creativity makes thinking outside of the box possible.</strong>
    <p>
        Aspiring IT and Cybersecurity professional actively pursuing opportunities to stabilize and grow in these fields, with a strong foundation in IT and additional interests in software development. Beyond my professional aspirations, I am also a front-end developer, MMA fighter and martial arts enthusiast, scuba diver, and aspiring actress, showcasing a well-rounded passion for both technical and creative pursuits.
    </p>
    <button>Contact Me</button>
</section>

