<section class="hero" id="about-me">
    <div>
        <h1>Welcome to Hexterika-Breaks-Free!</h1>
    </div>
    <div>
        <h2>Break Free from Limits, Embrace Your Journey.</h2>
    </div>
    <div>
        <p>Unlock your potential, explore boldly, and thrive without limits.</p>
    </div>
    <div>
        <p>Let's break free from limits—together.</p>
    </div>
    <div>
        <button onclick="document.getElementById('passions').scrollIntoView({ behavior: 'smooth' })">
            Explore My Passion!
        </button>
          
    </div>
</section>

<style>
    .hero {
        background-color: blue;
    }
    
    div {
        display: flex;
        justify-content: center; /* Centers the image in the container */
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    h1 {
        font-size: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    h2 {
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    p {
        font-size: 1rem;
        font-weight: bold;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    button {
        background-color: aquamarine;
    }
</style>