<section class="hero">
    <img src="/src/assets/myprofilepic.jpg" height="200" width="150" />
    <h2>Hello, I am Sangsongthong Chantaranothai!</h2>
    <strong>Creativity makes thinking outside of the box possible.</strong>
    <p>A tech enthusiast with hands-on experience in ethical hacking, front-end development, and cloud technologies, along with hardware programming using Arduino and Raspberry Pi. Currently building a portfolio to pursue a Master's in technology and eager to explore new challenges in software development. Other than that I have many interests in various fields as shown here.</p>
    <button>CTA</button>
</section>

