<main>
    <section>
        <h2>My Latest Achievemets (emoji)</h2>
    </section>
    <section>
        <h2>Degrees</h2>
    </section>
    <section>
        <h2>Certifications & Badges</h2>
        <section>
            <h3>IT & Cybersecurity</h3>
        </section>
        <section>
            <h3>Programming</h3>
        </section>
        <section>
            <h3>Languages</h3>
        </section>
        <section>
            <h3>Social Media Marketing</h3>
        </section>
        <section>
            <h3>Others</h3>
        </section>
    </section>
    <section>
        <h2>Contact Me</h2>
    </section>
</main>
  
