<main>
    <section>
        <h2>✨ My Latest Achievemets ✨</h2>
    </section>
    <section>
        <h2>🎓 Diploma 🎓</h2>
        <div>
            <img src="/src/assets/DiplomasPhotos/SUT-GraduatedCertPic.png" alt="A screenshot of my Bachelor Degree of Sport Science" />
            <p>My Bachelor Degree: Sport Science</p>
            <a href="/src/assets/DiplomasPDF/SUT-GraduatedCert.pdf" download>B.Sc. Graduation Certification</a>
            <p>
                This document was securely obtained through my university's official portal under my personal account and have not been tampered with. Some PDF readers may flag issues with the digital signature due to compatibility, but the files are legitimate. If you encounter any difficulties verifying the document using the provided QR code or other methods, please contact me directly. I can assist by providing additional documentation or requesting a paper-based copy from the university. Please note that reissuing these documents incurs a small fee (approximately 10–20 baht), and additional costs may apply for shipping if a physical copy is needed. Thank you for your understanding.
            </p>
        </div>
        <div>
            <img src="/src/assets/DiplomasPhotos/SUT_transcriptPic.png" alt="A screenshot of my Bachelor Degree's transcript" />
            <p>My Bachelor Degree's Transcript</p>
            <a href="/src/assets/DiplomasPDF/SUT_transcript.pdf" download>Sport Science Transcript 1</a>
            <p>
                This document was securely obtained through my university's official portal under my personal account and have not been tampered with. Some PDF readers may flag issues with the digital signature due to compatibility, but the files are legitimate. If you encounter any difficulties verifying the document using the provided QR code or other methods, please contact me directly. I can assist by providing additional documentation or requesting a paper-based copy from the university. Please note that reissuing these documents incurs a small fee (approximately 10–20 baht), and additional costs may apply for shipping if a physical copy is needed. Thank you for your understanding.
            </p>
            <img src="/src/assets/DiplomasPhotos/SUT-Transcript-Scan-Screenshot-Page1.png" alt="A better screenshot of my Bachelor Degree's Transcript page 1." />
            <img src="/src/assets/DiplomasPhotos/SUT-Transcript-Scan-Screenshot-Page2.png" alt="A better screenshot of my Bachelor Degree's Transcript page 2." />
            <p>This one is from the unofficial paper transcript that I have in which I scanned it. It is unofficial because it does not have seals. I provided it for better resolution and readibility only.</p>
        </div>
        <div>
            <img src="/src/assets/DiplomasPhotos/SuranareeWittayaTranscriptPicPage1.png" alt="A screenshot of the first page of my Mattayom 6 (high school level in Thailand) transcript" />
            <img src="/src/assets/DiplomasPhotos/SuranareeWittayaTranscriptPicPage2.png" alt="A screenshot of the second page of my Mattayom 6 (high school level in Thailand) transcript" />
            <p>My Mattayom 6 Transcript</p>
            <a href="/src/assets/DiplomasPDF/SuranareeWittayaTranscript.pdf" download>My Mattayom 6 Transcript</a>
            <p>This is the evidence of my graduation from Mattayom 6 (equivalent to the US high school level) in Thailand.</p>
        </div>
        <div>
            <img src="/src/assets/DiplomasPhotos/SkylineHS_TranscriptPic.png" alt="A screenshot of my Skyline HS's transcript" />
            <p>My Exchange Student Year In The USA's Transcript</p>
            <a href="/src/assets/DiplomasPDF/SkylineHS_Transcript.pdf" download>Skyline HS PDF Verification</a>
            <a>This is the evidence of my 1 school year as an Exchange Student at Skyline High School, Longmont, CO, USA.</a>
        </div>
    </section>
    <section>
        <h2>📜 Certifications & Badges 📜</h2>
        <p>Some certifications are available for download as PDFs for verification, while others may link to external platforms for validation.</p>
        <section>
            <h3>IT & Cybersecurity</h3>
                <div>
                    <img src="/src/assets/CertificationsPhotos/SangsongthongCompTIASecurityPlusCertPic.png" alt="My CompTIA Security+ ce" />
                    <a href="/src/assets/CertificationsPDF/CompTIA-SecurityPlusCE-Certificate.pdf" download>Download PDF to Verify</a>
                    <a href="https://www.credly.com/badges/b856b0d7-bb20-466c-8981-b7744f8bb64f/public_url" target="_blank" rel="noopener noreferrer">Verify On Credly</a>
                </div>
                <div>
                    <img src="/src/assets/CertificationsPhotos/SangsongthongCC-Cert-Pic.png" alt="My Certified in Cybersecurity (CC) certificate by ISC2"/>
                    <a href="/src/assets/CertificationsPDF/CC-by-ISC2-Certificate.pdf" download>Download PDF to Verify</a>
                    <a href="https://www.credly.com/badges/2219a41c-2094-41a5-a530-28cf093c2c29/public_url" target="_blank" rel="noopener noreferrer">Verify On Credly</a>
                </div>
                <div>
                    <img src="/src/assets/CertificationsPhotos/THM-Jr-Pentest-LearningPath-CertOfCompletion.png" alt="My TryHackMe Jr Pentester Learning Path Certificate of Completion"/>
                    <a href="/src/assets/CertificationsPDF/THM-Jr-Pentest-LearningPath-CertOfCompletion.pdf" download>Download PDF to Verify</a>
                </div>
        </section>
        <section>
            <h3>Programming</h3>
            <div>
                <img src="/src/assets/CertificationsPhotos/HTML-and-CSS-In-Depth.png" alt="A picture of HTML and CSS In Depth Certificate of Completion" />
                <a href="/src/assets/CertificationsPDF/HTML-and-CSS-In-Depth.pdf" download>Download PDF To Verify</a>
            </div>
            <div>
                <img src="/src/assets/CertificationsPhotos/AdvancedReact.png" alt="A picture of Advance React Certificate of Completion" />
                <a href="/src/assets/CertificationsPDF/AdvancedReact.pdf" download>Download PDF To Verify</a>
            </div>
            <div>
                <img src="/src/assets/CertificationsPhotos/ReactBasics.png" alt="A picture of React Basics Certificate of Completion" />
                <a href="/src/assets/CertificationsPDF/ReactBasics.pdf" download>Download PDF To Verify</a>
            </div>
            <div>
                <img src="/src/assets/CertificationsPhotos/VersionControl.png" alt="A picture of Version Control Certificate of Completion" />
                <a href="/src/assets/CertificationsPDF/VersionControl.pdf" download>Download PDF To Verify</a>
            </div>
            <div>
                <img src="/src/assets/CertificationsPhotos/ProgrammingWithJavaScript.png" alt="A picture of Programming With JavaScript Certificate of Completion" />
                <a href="/src/assets/CertificationsPDF/ProgrammingWithJavaScript.pdf" download>Download PDF To Verify</a>
            </div>
            <div>
                <img src="/src/assets/CertificationsPhotos/PrinciplesOf-UI-UX-Design.png" alt="A picture of Principles Of UI/UX Design Certificate of Completion" />
                <a href="/src/assets/CertificationsPDF/PrinciplesOf-UI-UX-Design.pdf" download>Download PDF To Verify</a>
            </div>
        </section>
        <section>
            <h3>Social Media Marketing</h3>
            <div>
                <img src="/src/assets/CertificationsPhotos/meta-certified-digital-marketing-associate.png" alt="A picture of Meta Certified Digital Marketing Associate badge"/>
                <a href="https://www.credly.com/badges/1fe61a15-902c-46c8-870f-824abf9474a5/public_url" target="_blank" rel="noopener noreferrer">Verify On Credly</a>
            </div>
        </section>
        <section>
            <h3>Languages</h3>
            <img src="/src/assets/My_IELTS_score_2020.jpg" alt="My IELTS score result image." />
            <p>
                My IELTS score from 2020. While this is an outdated score result and my language skill is likely have improved, it was the official document that I can use as a reference when claiming that my English language skill is B2 level.
            </p>
        </section>
        <section>
            <h3>Others</h3>
            <p>Coming Soon</p>
        </section>
    </section>
    <section>
        <h2>Contact Me</h2>
        <p>Coming Soon</p>
    </section>
</main>
  
